
<div class="wrapper">
<div id="results">
<h1>Sf Chronicle Article Preview Thingy...</h1>
<ul>
  {{#each listing}}
  {{#unless this.readLater}}
    {{>listing-block }}
  {{/unless}}
  {{/each}}
</ul>
</div>

<div id="comments"></div>
</div>

<div id="readLater">
<h3>Read Later:</h3>
<ul>
  {{#each listing}}
  {{#if this.readLater}}
    {{>listing-block}}
  {{/if}}
  {{/each}}
</ul>
</div>

<button id="scrape">Update</button>
<script type="text/javascript">
	
$("#scrape").on("click", function(event) {
  $.get("/scrape", function(data) {});
});

$("#changeState").on("click", function(event) {
  var thisId = $(this).attr("data-id");
  var state = $(this).attr("state");
  var newState;
  console.log(state);

  if(!state) {
    newState = false;
  }else {
    newState = true;
  };
  console.log(newState);
  console.log("readLater: " + thisId);

  $.ajax({
    method: "POST",
    url: "/readLater",
    data: {
      id: thisId,
      state: newState
    }
  })
})

$(document).on("click", "p", function() {
  $("#comments").empty();
  var thisId = $(this).attr("data-id");

    $.get("/results/" + thisId, function(data) {
      console.log(data.comment);
      $("#comments").append("<h2>" + data.title + "</h2>");
      $("#comments").append("<input id='titleinput' name='title' >");
      $("#comments").append("<textarea id='bodyinput' name='body'></textarea>");
      $("#comments").append("<button data-id='" + data._id + "' id='saveComment'>Save comment</button>");

      if (data.comment) {
        console.log(data.comment);
        $("#titleinput").val(data.comment.title);
        $("#bodyinput").val(data.comment.body);
      }
    });
});

$(document).on("click", "#saveComment", function() {
  var thisId = $(this).attr("data-id");

  $.ajax({
    method: "POST",
    url: "/results/" + thisId,
    data: {
      title: $("#titleinput").val(),
      body: $("#bodyinput").val()
    }
  })
    .then(function(data) {
      console.log(data);
      $("#comments").empty();
    });

  $("#titleinput").val("");
  $("#bodyinput").val("");
});

</script>